<div class="container" *ngIf='albums.length'>
  <h1>
    Albums
  </h1>
  <div class="row">
    <div *ngFor='let album of albums' class="card">
      <a [routerLink]='["../../album", album.id]'>
        <img src="{{album.image}}" alt="">
        <p>
          <span>{{album.name}}</span>
        </p>
        <p>
          <ng-container *ngFor='let artist of album.artists; let i = index'>
            <a [routerLink]="['../../artist', artist.id]">{{artist.name}}</a>
            <ng-container *ngIf='i !== album.artists!.length - 1'>,
            </ng-container>
          </ng-container>
        </p>
      </a>
    </div>
  </div>
</div>