
.playlistsDiv{
    margin: 0px 0px 0px 27.5px;
    max-height: 60%;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(231, 9, 183);
    pointer-events: none;
    margin: 10px 25px 10px 27.5px;
}
hr{
    color: gray;
    margin: 10px 28px 0px 27.5px;

}
div{
    margin: 10px 0;
    overflow-y: auto;
}
.active{
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
} 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}