.container{
    margin: 0;
    background: linear-gradient(rgb(234, 0, 255), rgb(62, 61, 138));
    height: 27vh;
    position: relative;
    color: white;
}
.imgDiv{
    margin: 0px 20px;
}
.followButton{
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 100;
}
.mat-fab{
    background-color: royalblue;
}
.liked{
    color: red;
}
.disliked{
    color: white;
}
img{
    margin-top: 1%;
    height: 220px;
    width: 220px;
}
.infoDiv{
    position: absolute;
    left: 15%;
    top: 20%;
    width: 84.5%;
    margin-left: 7px;
    line-height: 200%;
    font-weight: bolder;
    height: 80%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}