.container {
  width: 40%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.top {
  margin-top: 10px;
}
.leftTime{
    position: absolute;
    left: -5%;
    bottom: -5px;
    color: pink;
}
.rightTime{
    position: absolute;
    bottom: -5px;
    color: pink;
    right: -6%;
}
.slider {
  width: 100%;
  position: relative;
  top: 10px;
  color: hotpink;

}
.slider::-webkit-slider-thumb{
  background-color: hotpink;
  fill: hotpink;
}
svg {
  height: 20px;
  width: 20px;
  fill: white;
}
.playButton {
  height: 28px;
  width: 28px;
}
.bigger {
  height: 22px;
  width: 22px;
}

button {
  outline: none;
  background: transparent;
  border: none;
  margin: 0 5px;
  
}
.mat-icon{
  fill: white;
}
.extreme {
  margin: 0 10px;
}
.rabotaydolbaeb{
  fill: palevioletred;
}
svg:active {
  fill: palevioletred;
}
svg:hover {
  fill: hotpink;
}
.mat-icon:hover{
  fill: hotpink;
}
.justToClick:hover{
  // color: palevioletred;;
  fill: palevioletred;
}
input[type=range]::-webkit-slider-thumb {
    background: red;
}
input[type=range]::-moz-range-thumb {
    background: red;
}
input[type=range]::-ms-thumb {
    background: red;
}