.container{
    margin: 15px;
    width: 30%;
    position: sticky;
    bottom: 15px;
}
img{
    height: 60px;
    width: 60px;
}
a{
    text-decoration: none;
    color: white;
    position: relative;
}
a:hover{
    text-decoration:underline;
}
.songRef{
    display: inline-block;
    vertical-align: top;
    left: 5px;
    top: 7px;
}
.artistsRef{
    display: inline-block;
    vertical-align: middle;
    color: pink;
    position: absolute;
    font-size: 0.8em;
    left: 11%;
    bottom: 15px;
}