.container{
    position: absolute;
    top: 0vh;
    left: 1%;
    color: white;
}
table{
    position: absolute;
    left: 1%;
    top: 0vh;
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 73%;
}