.container{
    height: 35vh;
    position: relative;
    z-index: 0;
    width: 100%;
    text-align: end;
    color: white;
    right: 0;
}
.container img{
    height: 400px;
    width: 400px;
}
.followers{
    display: block;
    position: absolute;
}
button{
    border: none;
    outline: none;
    background-color: royalblue;
}

.liked{
    color: red;

}
.notLiked{
    color: black;
    
}
.followButton{
    position: absolute;
    top: 145%;
    right: 5%;
    width: 15%;
}
h1{
    font-size: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 15;
}
.text{
    left: 74.8%;
    position: absolute;
    bottom: -125px;
    margin: 10px;
}