div{
    font-size: 40px;
}
a{
    position: sticky;
    color: white;
    left: 1px;
    margin: 5px;
    font-size: 40px;
}
.left{
    margin-left: 20px;
}
a:hover{
    color: palevioletred;
    cursor: pointer;
}