.container{
    margin: 5px 5px 10px 15px;
    position: relative;
}
table{
    width: 100%;
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-overflow: clip;
    margin-top: 0;
}
.mat-row:hover{
   background-color: rgb(223, 82, 180)
}
.mat-form-field{
    width: 100%;
}
.play:hover{
    fill: crimson;
    color: crimson;
}
.svg{
    height: 48px;
    width: 48px;
}
th{
    background-color: hotpink;
}
*{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;

}
a:hover{
    text-decoration: underline;
}
.notFilledHeart:hover{
    color: red;
    fill: red;
}
.copyrights{
    text-align: end;
    font-size: 13px;
    margin-right: 5px;
}
.heart{
    font-size: 25px;
    color: red;
    margin-left: 4.5px;
 }
 .heart:hover{
     color: black;
 }
 button{
     background-color: transparent;
     outline: none;
     border: none;
 }
 .notFilledHeart{
     font-size: 32px;
 }