.container{
    position: absolute;
    left: 75%;
    top: 60%;
    width: 25%;
    color: white;
    height: 40%;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
span{
    position: relative;
    bottom: 30px;
    left: 20px;
    font-size: large;
}
a:hover{
    text-decoration: underline;
}
.content{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.content img{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 10px;
}
.content:hover{
    background-color: slateblue;
}