button{
    margin: 5px 10px;
}
nav{
    display: block;
    text-align: center;
    left: 40%;
}
.mat-fab{
    height: 80px;
    width: 80px;   
    background-color: black;
}
.svg{
    height: 48px;
    width: 48px;
}
.example{
    color: hotpink;
}
.rightButton{
    margin-right: 0;
}
.leftButton{
    margin-left: 0;
}